.nav__navbar .nav__navbar-title {
    font-size: 1.9rem;
}

nav .nav__navbar-sections li a {
    margin-left: 40px;
    font-size: 1.3rem4;
}

/* Hambur Menu */


.bar {
    display: block;
    width: 25px; height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: var(--almost-black);
}

.change-navbar div .bar {
    background-color: var(--tiny-grey);
}

header .header__section-info {
    padding-top: 40px;
    padding-left: 40px;
}

header .header__section-info h1 {
    /* color: red; */
    font-size: 4.6rem;
}

header .header__section-info p {
    line-height: 2.2rem;
    font-size: 1.6rem;
    margin-top: 10px;
}

.header__section-bigphoto img {
    transform: translate(-10%, -2%);
    max-width: none;
    width: 50%;
}

.section-blurcircle {
    width: 450px;
    height: 450px;
    transform: translate(-20%, 20%);
}

.header__footer {
    height: 100px;
}

.footer__icon-container span {
    width: 20px; height: 20px;
    margin-left: 45px;
}

.header__footer a {
    font-size: 1.3rem;
}

.about__section {
    margin-top: 40px;
}

.about__section .about__container-info {
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    position: inherit;
}

.about__section .about__container-info {
    margin: 80px 10px 10px;
    height: auto;
}

.about__container-left {
    width: 75%;
}

.about__container-left h1 {
    font-size: 4.4rem;
}

.about__container-left h2 {
    font-size: 4rem;
}

.about__container-right {
    width: 75%;
}

.section-blurcircle--about {
    transform: translate(-5%, 60%);
    width: 350px;
    height: 80px;
}

.projects__section-title {
    width: 350px;
}

.projects__section-title h1 {
    font-size: 4rem;
    margin-top: 25px;
    width: 350px;
}

.contact__container-main {
    flex-direction: column;
    height: auto;
    margin: 40px 0px 0px;
    padding: 5px 0px 10px;
}

.contact__container-sayhi {
    margin-bottom: 60px;
}

.contact__container-main div > h4 {
    font-size: 2rem;
    line-height: 3.2rem;
    margin-top: 5px;
    padding: 0 10px;
}

.contact__container-main .contact__container-sayhi {
    width: 65%;
    height: 20%;
}

.contact__container-main .contact__container-form {
    width: 80%;
}

.message-textarea textarea {
    height: 180px;
}

form .message {
    margin-left: 60px;
}

.contact__container-form button {
    margin: 20px 60px 40px 0;
}

.contact__footer-main div ul li {
    margin-left: 30px;
}


@media screen and  (max-width: 645px){
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    nav .nav__navbar-sections {
        position: fixed;
        left: -100%;
        top: 55px;
        display: flex;
        flex-direction: column;
        background-color: rgba(238, 234, 234, 0.85);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }
    
    nav .nav__navbar-sections.active {
        left: 0;
    }


    .header__section-bigphoto img {
        width: 55%;
    }

    .about__container-left {
        width: 85%;
    }

    .about__container-right {
        width: 85%;
    }
}