:root {
    --great-yellow: #f4fd6b;
    --almost-black: #16161D;
    --very-dark-grey: #6C6C6C;
    --dark-grey: #A0A0A0;
    --tag-grey: #BFBFBF;
    --tiny-grey: #eeeaea;
    --just-white: #fff;
    --blur: rgba(10,12,16,0.74);
    --roboto: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Oxygen', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: var(--tiny-grey);
    color: var(--almost-black);
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
 }

 ::-webkit-scrollbar {
    display: none;
}

body .nav__navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 20px 60px;
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 10;
    transition: 150ms ease-in-out;
    background-color: rgb(238, 234, 234, 0.74);
}


body .change-navbar {
    background-color: var(--almost-black);
    height: 8vh;
}

body .change-navbar a {
    color: var(--tiny-grey);
    font-size: 1.8rem;
}

.change-navbar .nav__navbar-sections li a {
    color: var(--tiny-grey);
}

.change-navbar ul li .navbar__section-effect::before {
    background-color: var(--tiny-grey);
}

.change-navbar .nav__navbar-sections {
    background-color: var(--almost-black);
}


.nav__navbar a {
    font-size: 2rem;
    font-style: normal;
    line-height: 40px;
    text-decoration: none;
    color: inherit;
}

.nav__navbar a span {
    font-weight: 700;
}

nav .nav__navbar-sections {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav .nav__navbar-sections li a {
    color: initial;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 60px;
    text-decoration: none;
}

ul li .navbar__section-effect {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}

ul li .navbar__section-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--almost-black);
    transition: width 0.20s ease-out;
}

ul li .navbar__section-effect:hover::before {
    width: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

/* HOME - HEADER  */

.header__container-home {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100%;
    margin: auto 0px;
}

header .header__section-info {
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-top: 60px;
    padding-left: 100px;
    
}


header .header__section-info h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 5.5rem;
    line-height: 7rem;
    margin: 10px 0;
}

header .header__section-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3rem;
}

.header__section-info button {
    margin-top: 60px;
    padding: 15px 20px;
    background: var(--almost-black);
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--roboto);
    letter-spacing: 2px;
    font-weight: bold;
  }

  .section-button {
    border: none;
    z-index: 1;
    color: var(--tiny-grey);
  }

  .section-button a {
    text-decoration: none;
    color: inherit;
  }

  .section-button:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--great-yellow);
    transition: all 0.3s ease;
  }

  .section-button:hover {
    color: var(--almost-black);
  }

  .section-button:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }

  header .header__section-bigphoto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-end;
    width: 50%;
    overflow-y: visible;
    /* background-color: burlywood; */
  }


  .header__section-bigphoto img {
    max-width: 500px; height: auto;
    position: absolute;
    padding: 0 10px;
    margin-top: 10px;
    object-fit: contain;
  }

  .section-blurcircle {
    position: relative;
    transform: translate(-16%, 15%);
    width: 650px;
    height: 650px;
    border-radius: 60% 25% 40% 80%;
    filter: blur(40px);
    background: radial-gradient(circle at 50% 50%,rgb(245, 255, 105), rgba(76, 0, 255, 0));
    opacity: 1.2;
    z-index: -1;
}

.header__footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 100%;
    background-color: var(--almost-black);
    bottom: -14px;
    padding: 0 60px;
}

.header__footer a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--tiny-grey);
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1em;
}

.header__footer a:hover{
    color: var(--great-yellow);
}

.footer__icon-container {
    display: flex;
    align-items: center;
    width: auto;
}

.footer__icon-container span {
    display: inline-block;
    width: 25px; height: 25px;
    margin-left: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.linkedin {
    background-image: url('../assets/linkedin_icon_white2.png');
}

.github {
    background-image: url('../assets/github_icon_whit2.png');
}

.instagram {
    background-image: url('../assets/instagram_icon_white2.png');
}


/* SECTION ABOUT */
.about__section {
    min-height: 100vh;
    background-color: var(--almost-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.about__section .about__container-info {
    position: absolute;
    height: 60vh;
    margin: auto 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.about__container-left {
    width: 58%;
    padding-left: 60px;
}

.about__container-left h1{
    color: var(--tiny-grey);
    font-size: 5.2rem;
}

.about__container-left h2 {
    color: var(--dark-grey);
    font-size: 4.8rem;
}

.about__container-right {
    width: 45%;
    font-size: 1.6rem;
    padding: 0 60px 0 50px;
}

.about__container-right p{
    color: var(--tiny-grey);
    margin-top: 20px;
    line-height: 2.6rem;
}

.section-blurcircle--about{
    position: relative;
    transform: translate(-5%, 90%);
    width: 480px;
    height: 460px;
    border-radius: 60% 25% 40% 80%;
    filter: blur(40px);
    background: radial-gradient(circle at 50% 50%,rgb(245, 255, 105), rgba(76, 0, 255, 0));
    opacity: 0.9;
    z-index: 0;
}

/* SECTION PROJECTS */

.projects__section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 40px 60px 20px 60px;
    background-color: var(--tiny-grey);
    z-index: 1;
}

.projects__section-title {
    display: flex;
    justify-content: left;
    width: 50%;
    margin-top: 40px;
    margin-left: 60px;
    padding-right: 15px;
}

.projects__section-title h1 {
    color: var(--almost-black);
    font-size: 5rem
}

.projects__section-container {
    width: 100%;
    max-width: 1350px;
    padding: 10px 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.projects__section-container article {
    width: 300px;
    height: 350px;
    margin: 0 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--just-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

article .section__container-img {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section__container-img img {
    width: 90%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.section__container-img:hover img {
    opacity: 0.5;
}

.section__container-img>div {
    transition: .5s ease;
    width: 90%;
    height: 90%;
    opacity: 0;
    position: absolute;
    background:rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 25px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
}

.section__container-img:hover div {
    opacity: 1;
}

.container__img-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: auto;
    height: 100%;
}

.container__img-text div {
    width: 100%; height: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
}

.container__img-text p {
    color: var(--just-white);
    font-size: 1.5rem;
}


.container__img-text button {
    /* margin-top: 60px; */
    padding: 10px 10px;
    border: none;
    background: var(--great-yellow);
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--roboto);
    letter-spacing: 2px;
    font-weight: bold;
}

.container__img-text button a {
    text-decoration: none;
    color: inherit;
}

.container__img-text button:hover {
    background: var(--almost-black);
    color: white;
}

.container__img-text div>a {
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--just-white);
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 500;
    font-size: small;
    line-height: 2rem;
    letter-spacing: 0.1em;
}

.container__img-text div>a:hover {
    color: var(--great-yellow);
}

.projects__section-container article>h4 {
    font-size: 2.4rem;
    font-weight: 700;
    font-style: normal;
    line-height: 4rem;
    margin-top: 15px;
    margin-left: 10px;
    align-self: flex-start;
}

.projects__section-tags {
    width: 90%;
    height: 15%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.projects__section-tags div {
    width: auto;
    height: 20px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 4px 10px;
    border-radius: 30px;
    font-size: small;
    background-color: var(--tag-grey);
    color: var(--just-white);
    font-weight: 500;
    font-family: var(--roboto);
 }



/* CONTACT SECTION */

.contact__section {
    display: flex;
    min-height: 100vh;
    padding-top: 20px;
    background-color: var(--almost-black);
    position: relative;
}

.contact__container-main {
    height: 80vh;
    margin: auto 60px 10px;
    padding: 0 60px 10px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.contact__container-main div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: var(--tiny-grey);
}

.contact__container-main .contact__container-sayhi {
    height: 100%;
    width: 50%;
}

.contact__container-main .contact__container-form {
    height: 100%;
    width: 50%;
}

.contact__container-main div > h1 {
    color: var(--tiny-grey);
    font-size: 5.8rem;
    font-weight: 700;
    font-weight: bold;
}

.contact__container-main div > h4 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
    margin-top: 18px;
}

.contact__container-form {
    height: 80%;
    display: flex;
    flex-direction: column;
}

.contact__container-main div > form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.contact__container-form form .mail-input {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 80%;
    overflow: hidden;
    color: var(--tiny-grey);
}

.mail-input .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 3rem;
    color: var(--tiny-grey);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, -20px, 0) scale(0.75);
    transition: all 0.2s ease;
    pointer-events: none;
  }

  .mail-input input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 20px 12px 0px 12px;
    height: 74px;
    font-size: 1.8rem;
    font-weight: 400;
    box-shadow: inset 0 -2px 0 var(--tiny-grey);
    background: var(--almost-black);
    color: var(--dark-grey);
    transition: all 0.15s ease;
  }

  form .mail-input .valid-span {
    color: var(--great-yellow);
  }

  .mail-input .valid {
    color: var(--tiny-grey);
    box-shadow: inset 0 -2px 0 var(--great-yellow)
  }

  .mail-input input:focus {
    background: none;
    outline: none;
    box-shadow: inset 0 -2px 0 var(--great-yellow);
  }

  .mail-input input:focus + .label {
    color: var(--great-yellow);
  }


  form .message-textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  form .message {
    position: absolute;
    transform-origin: 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-size: 2.4rem;
    font-weight: 500;
    font-family: 'Oxygen', sans-serif;
    margin-left: 60px;
    margin-top: 30px;
    padding-left: 12px;
    transition: all 0.2s ease;
    /* transform: translate3d(0, 0px, 0) scale(0.75); */
  }

  .message-textarea input {
    align-self: flex-end;
    padding-top: 5px;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-family: inherit;
    color: var(--very-dark-grey);
    background-color: none;
    background: transparent;
    border: none;
    width: auto;
  }

  .message-textarea input:focus {
    outline-width: 0;
  }

  .message-textarea .limit-value {
    align-self: flex-end;
    opacity: 0;
  }

  .message-textarea .limit-value-view {
    opacity: 1;
  }


  #textcount-container {
    width: 45px;
    height: auto;
    margin-right: 80px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
  }


  .message-textarea .limit-character {
    color: #f16050;
  }

  .message-textarea textarea {
    background-color: var(--almost-black);
    color: var(--tiny-grey);
    padding: 16px;
    border: 2px solid var(--tiny-grey);
    outline: none;
    margin: 70px auto 0;
    font-family: 'Oxygen', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.6rem;
    width: 80%;
    height: 180px;
    transition: all 0.2;
    resize: none;
  }

  .message-textarea .valid-text {
    border: 2px solid var(--great-yellow);
  }

  .message-textarea .contact__container-textarea:hover {
    cursor: text;
  }

  .message-textarea textarea:focus {
    border: 2px solid var(--great-yellow);
  }

  .message-textarea textarea:focus + .message {
    color: var(--great-yellow);
  }




/* //////////BUTON DESDE ACA/////////////////// */


.contact__container-form button {
    align-self: flex-end;
    width: 100px;
    margin: 20px 58px 0 0;
    padding: 15px 0;
    background: var(--tiny-grey);
    outline: none !important;
    cursor: not-allowed;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--roboto);
    letter-spacing: 2px;
    font-weight: bold;
  }

  .contact__container-form .button-ok {
    background: var(--great-yellow);
    cursor: pointer;
  }

  .section-button-send {
    border: none;
    z-index: 1;
    color: var(--almost-black);
  }

  .section-button-send:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--almost-black);
    transition: all 0.3s ease;
  }

  .button-ok:hover {
    color: var(--tiny-grey);
  }

  .button-ok:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
    border: 2px solid var(--great-yellow);
  }



/* FOOTER */

body .contact__footer-main {
    display: inline-grid;
    height: 70px;
    width: 100vw;
    padding: 0 60px;
    background-color: var(--great-yellow);
    color: var(--almost-black);
    font-family: inherit;
    bottom: 0;
}

.contact__footer-main div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact__footer-main div p {
    font-size: small;
}

.contact__footer-main div ul {
    display: flex;
    flex-direction: row;
}

.contact__footer-main div ul li {
    list-style: none;
    text-decoration: none;
    margin-left: 40px;
    font-size: 1.4rem;
    font-weight: 400;
}

.contact__footer-main div ul a {
    text-decoration: none;
    color: inherit;
}

.contact__footer-main div ul a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1200px) {
    header .header__section-info {
        padding-top: 80px;
    }
    .header__section-bigphoto img {
        max-width: 470px; height: auto;
    }    
    .section-blurcircle {
        width: 600px; height: 500px;
    }
    .header__footer {
        padding: 0 40px;
    }
    .about__container-left {
        padding-left: 30px;
    }
    .about__container-right {
        font-size: 1.5rem;
        padding: 0 50px 0 60px;
    }
    .about__container-right p{
        line-height: 2.3rem;
    }
    .about__container-left h1{
        font-size: 5rem;
    }
    .about__container-left h2 {
        font-size: 4.4rem;
    }
    .about__section .about__container-info {
        margin: 0 20px;
    }
    .about__container-right {
        padding: 0px 30px 0px 40px;
    }
    .projects__section {
        padding: 40px 20px 20px;
    }
    .projects__section-title h1 {
        font-size: 4.6rem;
    }
    .projects__section-title {
        margin-top: 40px;
        margin-left: 40px;
        padding-right: 5px;
    }
    .contact__container-main {
        margin: 60px 40px 10px;
        padding: 0 40px 10px;
    }
    .contact__container-form button {
       margin: 12px 50px 0 0; 
       width: 90px;
    }
    .message-textarea textarea {
        margin-top: 65px;
        height: 155px;
        font-size: 1.6rem;
    }
    form .message {
        margin-left: 50px;
    }
}

@media screen and (max-width: 1024px) {
    nav .nav__navbar {
        margin: auto 40px;
    }
    header .header__section-info {
        padding-top: 90px;
        padding-left: 60px;
    }
    header .header__section-info h1 {
        font-size: 4.8rem;
        line-height: 5rem;
    }
    header .header__section-info p {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
    .header__section-info button {
        margin-top: 50px;
        padding: 15px 18px;
    }
    .section-blurcircle {
        width: 500px; height: 500px;
        transform: translate(-18%, 10%);
    }
    .header__section-bigphoto img{
        max-width: 440px; height: auto;
        transform: translate(-10%, -5%);
    }
    .about__container-right {
        padding: 0px 15px 0px 25px;
        font-size: 1.4rem;
        width: 50%;
    }
    .about__container-right p{
        line-height: 2.2rem;
    }
    .about__container-left {
        width: 50%;
        padding-left: 25px;
    }
    .projects__section-title h1 {
        font-size: 4.4rem;
    }
    .projects__section-title {
        margin-top: 20px;
        margin-left: 20px;
    }
    .contact__container-main {
        margin: 60px 20px 10px;
        padding: 0 40px 10px;
    }
    .contact__container-main {
        margin-right: 10px;
        padding-right: 20px;
    }
    .contact__container-main div {
        padding-right: 10px;
    }
    .contact__container-main div > h4 {
        margin-top: 16px;
        font-size: 2.4rem;
        line-height: 3.6rem;
    }
    .contact__container-main div > h1 {
        font-size: 5.6rem;
    }
    .message-textarea textarea {
        height: 150px;
    }
}
