:root {
    --great-yellow: #F4FD6B;
    --almost-black: #16161D;
    --dark-grey: #A0A0A0;
    --tag-grey: #BFBFBF;
    --tiny-grey: #EEEAEA;
    --just-white: #fff;
    --blur: rgba(10,12,16,0.74);
    --roboto: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Oxygen', sans-serif;
}

body{
    background-color: var(--tiny-grey);
    color: var(--almost-black);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
 }

 ::-webkit-scrollbar {
    display: none;
}

header {
    display: inline-grid;
    width: 100vw;
    height: 80px;
}

header .header__navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto 60px;
    /* max-width: 1200px; */
    height: auto;
}

.header__navbar .header__navbar-title {
    font-size: 2rem;
    font-style: normal;
    line-height: 40px;
}

header nav .header__navbar-sections {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}

nav .header__navbar-sections li a {
    color: initial;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 60px;
    text-decoration: none;
}

ul li .navbar__section-effect {
    display: inline-block;
    padding-bottom: 0.25rem; /* defines the space between text and underline */
    position: relative;
}

ul li .navbar__section-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--almost-black);
    transition: width 0.20s ease-out;
}

ul li .navbar__section-effect:hover::before {
    width: 100%;
}

.main__container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 425px;
    width: 100%;
    margin: auto 60px;
}

main .main__section-info {
    width: 50%;
    padding: 0 10px;
}

main .main__section-info h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 5.5rem;
    line-height: 7rem;
    margin: 10px 0;
}

main .main__section-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3rem;
}

.main__section-info button {
    margin-top: 60px;
    padding: 15px 20px;
    background: var(--almost-black);
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--roboto);
    letter-spacing: 2px;
    font-weight: bold;
  }
  
  .section-button {
    border: none;
    z-index: 1;
    color: white;
  }
  
  .section-button:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--great-yellow);
    transition: all 0.3s ease;
  }
  
  .section-button:hover {
    color: rgb(0, 0, 0);
  }
  
  .section-button:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }

.main__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    width: 100%;
    background-color: var(--almost-black);
    /* position: absolute; */
    bottom: 0;
    padding: 0 60px;
}

.main__footer a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--tiny-grey);
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1em;
}

.main__footer a:hover{
    color: var(--great-yellow);
}

.footer__icon-container {
    display: flex;
    align-items: center;
    width: auto;
}

.footer__icon-container span {
    display: inline-block;
    width: 25px; height: 25px;
    margin-left: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.linkedin {
    background-image: url('/root/assets/linkedin_icon_white.png');
}

.github {
    background-image: url('/root/assets/GitHub_icon_white.png');
}

.instagram {
    background-image: url('/root/assets/Instagram_icon_white.png');
}

/* pa la proxima section 

.clearfix {
    overflow: hidden;

    
}*/
